@model L01P02_2021_AP_650.Models.alumn

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>alumn</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dui)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dui)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
