@model L01P02_2021_AP_650.Models.mater

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>mater</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.materia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.materia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.unidades_valorativas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.unidades_valorativas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
